body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f9;
    
    color: #333;
    margin: 0;
    padding: 20px;
}

.form-split {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-left,
.form-right {
    flex: 1;
}

.form-right {
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

.option-label {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
}

.option-text {
    position: relative;
    bottom: 2px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}


.form-container {
    flex: 0 0 auto;
    position: relative;
    top: 25px;
    right: -25px;
}


.image-container {
    flex: 1;
    text-align: center;
    position: relative;
    top: -10px;
}

a button {
    background-color: #008CBA;
    color: white;
    padding: 10px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

a button:hover {
    background-color: #0079a1;
}


.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.form-group label {
    flex: 1;
    font-weight: bold;
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 8px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


h1,
h2,
h3 {
    color: #444;
    text-align: center;

}

form {
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

img {
    display: block;
    margin: 20px auto;
    width: 700px;
    border: 2px solid #ccc;
    border-radius: 8px;
}








@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: stretch;
        
    }


    .form-container {
        flex: 0 0 auto;
        position: relative;
        top: 25px;
        right: 20px;
        
    }


    .image-container {
        width: 100%;
        max-width: 100%;
        flex: none;
        position: static;
        /* annule le positionnement relatif */
        top: auto;
        /* annule les décalages */
        right: auto;
    }

    .image-container img {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-top: 20px;
        top: 0;
    }


    form {
        width: 100%;
    }





}