<!DOCTYPE html>
<html>

<head>
    <title>Générateur de motifs</title>
</head>

<body>
    <h1>Générateur de motifs géométriques</h1>
    <form method="POST">
        <label>Nombre de côtés :</label>
        <input type="number" name="n_sides"><br>

        <label>Taille :</label>
        <input type="number" name="taille"><br>

        <label>Répétitions :</label>
        <input type="number" name="repetitions"><br>

        <label>Angle :</label>
        <input type="number" name="angle"><br>

        <label>Couleur :</label>
        <input type="text" name="couleur"><br>

        <label>Options (séparées par des virgules) :</label>
        <input type="text" name="options"><br>

        <button type="submit">Générer</button>
    </form>

    {% if image_filename %}
    <h2>Motif généré :</h2>
    <img src="static/images/motif.png" alt="Motif généré"
        width="400">
    {% endif %}





</body>

</html>