<!DOCTYPE html>
<html>

<head>
    <title>Générateur de motifs</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

    <h1>Générateur de motifs géométriques</h1>
    <br><br>
    <div class="main-container">
        <div class="form-container">
            <form method="POST">
                <div class="form-split">
                    <!-- Partie gauche : entrées -->
                    <div class="form-left">
                        <h3>Informations :</h3>
                        <div class="form-group">
                            <label for="n_cote">Nombre de côtés</label>
                            <input type="number" name="n_sides" id="n_sides" min="3" max="10" required>
                        </div>
                        <div class="form-group">
                            <label for="taille">Taille :</label>
                            <input type="number" name="taille" min="1" max="500" required><br>
                        </div>
                        <div class="form-group">
                            <label for="repetitions">Répétitions :</label>
                            <input type="number" name="repetitions" min="1" max="100" required><br>
                        </div>
                        <div class="form-group">
                            <label for="angle">Angle :</label>
                            <input type="number" name="angle" min="0" max="260" required><br>
                        </div>
                        <div class="form-group">
                            <label for="couleur">Couleur :</label>
                            <select id="couleur" name="couleur">
                                <option value="red">Rouge</option>
                                <option value="blue">Bleu</option>
                                <option value="green">Vert</option>
                                <option value="yellow">Jaune</option>
                                <option value="black">Noir</option>
                                <option value="purple">Violet</option>
                                <option value="orange">Orange</option>
                                <option value="pink">Rose</option>
                                <option value="brown">Marron</option>
                                <option value="gray">Gris</option>
                                <option value="multi">Arc en Ciel</option>

                            </select><br>
                        </div>
                    </div>

                    <!-- Partie droite : options -->
                    <div class="form-right">
                        <h3>Style :</h3>
                        <br><br>

                        <label class="option-label">
                            <input type="radio" name="style" value="croissant">
                            <span class="option-text">Croissant</span>
                        </label><br>

                        <label class="option-label">
                            <input type="radio" name="style" value="normal" checked>
                            <span class="option-text">Normal</span>
                        </label><br>

                        <label class="option-label">
                            <input type="radio" name="style" value="decroissant">
                            <span class="option-text">Décroissant</span>
                        </label><br><br><br>





                        <label class="option-label">
                            <input type="checkbox" name="spirale">
                            <span class="option-text">Spirale</span>
                        </label><br>

                        <label class="option-label">
                            <input type="checkbox" name="miroir">
                            <span class="option-text">Miroir</span>
                        </label><br>

                        <label class="option-label">
                            <input type="checkbox" name="coins">
                            <span class="option-text">4 Coins</span>
                        </label>

                    </div>
                </div>

                <br>

                <input type="submit" value="Générer">
            </form>

        </div>

        
        <!-- image générée -->
        <div class="image-container">

            {% if image_filename %}
            <img src="static/images/motif.png" alt="Motif généré" width="400">
            <br>
            <a href="static/images/motif.png" download="motif.png">
                <button type="button">Télécharger l’image</button>
            </a>
            {% endif %}
        </div>
    </div>





</body>

</html>